{% include 'partials/head.html' %}
{% include 'partials/navbar.html' %}

<div class="container">
    <h2>Login</h2>

    {% if flashes %}
        {% for flash in flashes %}
            <div class="flash {{ flash.category }}">{{ flash.message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post" action="/login">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
</div>