<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/head.html' %}
</head>
<body>
    {% include 'partials/navbar.html' %}

    <div class="main-content">
        {% include 'pages/dashboard.html' %}
        {% include 'pages/excel_to_xml.html' %}
        {% include 'pages/image_to_excel.html' %}
        {% include 'pages/mapping.html' %}
        {% include 'pages/company.html' %}
        {% include 'pages/settings.html' %}
    </div>

    <script src="/static/scripts/app.js"></script>
</body>
</html>